// @import "../../app.scss";

// .services {
//     background: linear-gradient(180deg, #0c0c1d, #111132);
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     gap: 50px;

//     .textContainer {
//         align-self: flex-end;
//         flex: 1;
//         display: flex;
//         align-items: center;
//         gap: 20px;


//         @include mobile {
//             align-self: center;
//             text-align: center;
//             flex-direction: column;
//         }

//         .ptag {
//             font-size: 1.8vw;

//             @include mobile {
//                 font-size: 22px;
//             }
//         }

//         p {
//             font-weight: 200;
//             color: grey;
//             text-align: right;

//         }

//         hr {
//             width: 190px;
//             border: none;
//             border-top: 0.5px solid grey;

//             @include mobile {
//                 width: 300px;
//             }
//         }
//     }

//     .titleContainer {
//         flex: 2;
//         display: flex;
//         flex-direction: column;
//         align-items: center;


//         @include mobile {
//             width: 100%;
//         }

//         .title {
//             display: flex;
//             align-items: center;
//             gap: 50px;

//             @include mobile {
//                 flex-direction: column;
//                 text-align: center;
//                 gap: 20px;
//             }

//             img {
//                 width: 300px;
//                 height: 100px;
//                 border-radius: 50px;
//                 object-fit: cover;
//             }

//             h1 {
//                 font-size: 50px;
//                 font-weight: 100;

//                 @include mobile {
//                     font-size: 40px;
//                 }
//             }

//             button {
//                 width: 180px;
//                 height: 70px;
//                 border-radius: 50px;
//                 background-color: orange;
//                 border: none;
//                 cursor: pointer;
//                 font-size: 17px;


//                 @include mobile {
//                     font-size: 12px;
//                     width: 120px;
//                     height: 45px;
//                 }

//             }
//         }
//     }

//     .listContainer {
//         flex: 2;
//         display: flex;
//         max-width: 1366px;
//         margin: auto;
//         padding: 0; 
//         justify-content: center; 
//         margin: 30px;

//         @include mobile {
//             flex-direction: column;
//             width: 100%; 
//             margin: 0px;


//         }



//         .box {
//             height: auto;
//             padding: 25px;
//             border: 1px solid grey;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;
//             @include mobile {
//                 border: none;
//                 align-items: center;
//                 gap: 20px;
//                 padding: 10px;
//             }

//             p {
//                 @include mobile {
//                     font-size: 15px;
//                     align-items: center;
//                     gap: 20px;
//                     padding: 10px;
//                 }
//             }

//             button {
//                 padding: 10px;
//                 margin-top: 10px; 
//                 background-color: orange;
//                 border: none;
//                 cursor: pointer;
//                 color: #000;
//                 font-size: 15px;
//                 width: 100%;


//                 @include mobile {
//                     background-color: transparent;
//                     border: 1px solid orange;
//                     color: orange;
//                     border-radius: 5px;
//                     width: 50%;
//                     padding: 5px;
//                 }
//             }

//             h1 {
//                 font-size: 15px;

//                 @include mobile {
//                     font-size: 5px;

//                 }

//             }

//             p {
//                 font-size: 13px;
//                 text-align: left;
//                 padding: 10px;
//             }
//         }

//         .box:hover {
//             background-color: lightgray;
//             color: #0c0c1d;
//         }
//     }
// }
@import "../../app.scss";

.services {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;

    .textContainer {
        align-self: flex-end;
        flex: 1;
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile {
            align-self: center;
            text-align: center;
            flex-direction: column;
        }

        .ptag {
            font-size: 1.8vw;

            @include mobile {
                font-size: 22px;
            }
        }

        p {
            font-weight: 200;
            color: grey;
            text-align: right;

        }

        hr {
            width: 190px;
            border: none;
            border-top: 0.5px solid grey;

            @include mobile {
                width: 300px;
            }
        }
    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            width: 100%;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 50px;

            @include mobile {
                flex-direction: column;
                text-align: center;
                gap: 20px;
            }

            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
            }

            h1 {
                font-size: 50px;
                font-weight: 100;

                @include mobile {
                    font-size: 40px;
                }
            }

            button {
                width: 180px;
                height: 70px;
                border-radius: 50px;
                background-color: orange;
                border: none;
                cursor: pointer;
                font-size: 17px;

                @include mobile {
                    font-size: 12px;
                    width: 120px;
                    height: 45px;
                }

            }
        }
    }

    .listContainer {
        flex: 2;
        display: flex;
      
        max-width: 1366px;
        margin: auto;
        padding: 0;
        justify-content: center;
        margin: 30px;
        
        @include mobile {
            flex-wrap: wrap;
        }


        .box {
            width: 30%; /* Adjust this value as needed */
            height: auto;
            padding: 25px;
            border: 1px solid grey;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
                width: 100%; /* Full width on smaller screens */
                margin-bottom: 20px; /* Add some spacing between items */
            }

            &:hover {
                background-color: lightgray;
                color: #0c0c1d;
            }

            h1 {
                font-size: 15px;

                @include mobile {
                    font-size: 5px;
                }

            }

            p {
                font-size: 13px;
                text-align: left;
                padding: 10px;
            }

            button {
                padding: 10px;
                margin-top: 10px;
                background-color: orange;
                border: none;
                cursor: pointer;
                color: #000;
                font-size: 15px;
                width: 100%;

                @include mobile {
                    background-color: transparent;
                    border: 1px solid orange;
                    color: orange;
                    border-radius: 5px;
                    width: 50%;
                    padding: 5px;
                }
            }
        }
    }
}
